div {
    border-style: ridge;
    border-width: 5px;
    padding: 30px;
    border-color: blue;
}

.container {
    border-color: blue;
}

.row {
    border-color: red;
}

nav {
   color: chartreuse; 
}

#page1 {
    background-image: url("http://th00.deviantart.net/fs70/PRE/f/2012/366/8/0/the_teutonic_hochmeister__several_resolutions__by_jpviktorjokinen-d5po8ou.jpg");
    background-repeat: no-repeat;
    background-size: 1300px;
}

#page2 {
    background-image: url("http://images3.alphacoders.com/269/269909.jpg");
}

#page3 {
    background-image: url("http://fc02.deviantart.net/fs70/f/2010/288/3/2/knight_by_tomisaksen-d30sqqs.jpg");
}

#para1 {
    color: blue;
}

#para2 {
    color: blue;
}

#para3 {
    color: blue;
}

#art1 {
   color: blue;
   background-color: black;
}

#art2 {
    background-color: blue;
}

#head1 {
    color: red;
    background-color: black;
}